Repository shreya-ghub/voting-app: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-2.yml

azure-pipelines-1.yml:
  stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
    - job: Build
      displayName: Build
      pool: poolz
      steps:
      - task: Docker@2
        displayName: Build  image
        inputs:
          containerRegistry: $(dockerRegistryServiceConnection)
          repository: $(imageRepository)
  ...

azure-pipelines-2.yml:
  stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
    - job: Build
      displayName: Build
      pool: poolz
      steps:
      - task: Docker@2
        displayName: Build  image
        inputs:
          containerRegistry: $(dockerRegistryServiceConnection)
          repository: $(imageRepository)
  ...

Update app.py
  vote/app.py
Due: azure-pipelines-1.yml

Add or update the Azure App Service build and deployment workflow config
  .github/workflows/main_loadvm1.yml
Due: none

Simplicity Removals
  .gitattributes
  .github/ISSUE_TEMPLATE
  .github/dependabot.yml
  .github/workflows/call-docker-build-result.yaml
  .github/workflows/call-docker-build-vote.yaml
  .github/workflows/call-docker-build-worker.yaml
  .vscode/launch.json
  MAINTAINERS
  README.md
  architecture.excalidraw.png
  docker-compose.images.yml
  docker-compose.yml
  docker-stack.yml
  healthchecks/postgres.sh
  healthchecks/redis.sh
  k8s-specifications/db-deployment.yaml
  k8s-specifications/db-service.yaml
  k8s-specifications/redis-deployment.yaml
  k8s-specifications/redis-service.yaml
  k8s-specifications/result-deployment.yaml
  k8s-specifications/result-service.yaml
  k8s-specifications/vote-deployment.yaml
  k8s-specifications/vote-service.yaml
  k8s-specifications/worker-deployment.yaml
  result/docker-compose.test.yml
  result/tests/Dockerfile
  result/tests/render.js
  result/tests/tests.sh
  seed-data/Dockerfile
  seed-data/generate-votes.sh
  seed-data/make-data.py
Due: none

readding healthchecks
  docker-compose.images.yml
  healthchecks/postgres.sh
  healthchecks/redis.sh
Due: none

first row of fixes (dockerfiles and docker-compose)
  worker/.dockerignore
  worker/Dockerfile
  worker/Worker.csproj
Due: azure-pipelines-2.yml

Changed from Nodeport to Loadbalancer type of service.
  k8s-specifications/result-service.yaml
  k8s-specifications/vote-service.yaml
Due: none

fixing docker compose
  docker-compose.yml
  example-voting-app.sln
Due: none

Adding Terraform configurations + started Ansible configurations
  .gitignore
  ansible/ansible.cfg
  ansible/playbook.yml
  docker-compose.images.yml
  terraform/alb.tf
  terraform/internet-gateway.tf
  terraform/main.tf
  terraform/nat-gw.tf
  terraform/outputs.tf
  terraform/routes.tf
  terraform/terraform.tfvars
  terraform/variables.tf
Due: none

adding terraform and ansible configurations
  ansible/playbook.yml
Due: none

fixing worker
  worker/Dockerfile
  worker/Program.cs
Due: azure-pipelines-2.yml

project-1-fixed
  docker-compose.yml
Due: none

ansible and terraform
  ansible/backend.yml
  ansible/db.yml
  ansible/frontend.yml
  ansible/inventory.ini
  ansible/main.yml
  ansible/playbook_v1.yml
  ansible/playbook_v2.yml
Due: none

new ansible upgrades
  terraform/alb.tf
  terraform/main.tf
  terraform/outputs.tf
  worker/Dockerfile
  worker/Program.cs
Due: azure-pipelines-2.yml

updates to ansible DB configuration + terraform db update
  ansible/db.yml
  terraform/main.tf
Due: none

just some adjustments and cleaning
  ansible/backend.yml
  ansible/db.yml
  ansible/frontend.yml
  ansible/playbook_v1.yml
  ansible/playbook_v2.yml
Due: none

Ansible redis and worker setup; Change user mode task added in all playbooks.
  ansible/backend.yml
  ansible/db.yml
  ansible/frontend.yml
  ansible/inventory.ini
  worker/Dockerfile
Due: azure-pipelines-2.yml

updated inventory.ini
  ansible/inventory.ini
Due: none

updates on ansible and Dockerfiles and vote app.py
  ansible/frontend.yml
  ansible/main.yml
  result/server.js
  vote/Dockerfile
  vote/app.py
  worker/Dockerfile
Due: azure-pipelines-1.yml, azure-pipelines-2.yml

updates on ansible configurations
  ansible/backend.yml
  ansible/frontend.yml
  result/server.js
  worker/Dockerfile
  worker/Worker.csproj
Due: azure-pipelines-2.yml

updated terraform - backend+db moved to private subnet and sg, added ssh permission for public sg.
  terraform/main.tf
Due: none

updated ansible configurations (frontend acts as bastion);(still needs debugging)
  ansible/inventory.ini
  ansible/inventory.yml
  ansible/main.yml
Due: none

updates on ansible playbooks + small changes to terraform
  ansible/backend.yml
  ansible/frontend.yml
  ansible/inventory.ini
  ansible/main.yml
  terraform/main.tf
Due: none

updated ansible playbooks
  ansible/backend.yml
  ansible/db.yml
  ansible/frontend.yml
  ansible/inventory.ini
  ansible/inventory.yml
  ansible/main.yml
Due: none

The final Ansible coonfigurations update. App works on AWS infrastructure
  .DS_Store
  ansible/backend.yml
  ansible/db.yml
  ansible/frontend.yml
  ansible/inventory.ini
  ansible/main.yml
Due: none

agent bot commit
  .gitignore
  result/server.js
  result/test_config.js
  vote/app.py
  vote/test_config.py
Due: azure-pipelines-1.yml

Created ci and pushed image to docker hub
  github/workflows/ci.yml
Due: none

Path conditions:
  azure-pipelines-1.yml: any of: vote
  azure-pipelines-2.yml: any of: worker
